* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .active {
    overflow: hidden;
  }

  html {
    scroll-behavior: smooth;
  }
  body{
    background-color:#141414; 

  }
  @font-face {
    font-family: 'Gordita Medium';
    src: url("../font/gordita_medium-webfont.woff2") format("woff2"),
      url("../font/gordita_medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Gordita Regular";
    src: url("../font/gordita_regular-webfont.woff2") format("woff2"),
      url("../font/gordita_regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
h1,h4{
  font-family: 'Gordita Medium';
}
p,h6{
  font-family: "Gordita Regular";
}

  @keyframes smoothScroll {
    0% {
      transform: translateY(-60px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  header div.wrapper{
    display: flex;
   justify-content:space-between;
   align-items: center;
   height: 100px;
  }
  header div.wrapper ul.right{
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  header div.wrapper ul.right li{
    margin-right: 60px;
  }
  header div.wrapper ul.right li a{
    color:#5B5A5D;
    font-size: 19px;
  }
  ul{
    list-style: none;
  }
  header div.wrapper ul.right li a:hover{
     color:white;
     font-size:23px;
  }
  header div.wrapper ul.right li:last-child{
    border: 1px solid;
    background: linear-gradient(150deg,#D45945, #A14D9B);
    padding-top: 11px;
    padding-bottom:11px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius:7px;
  
  }
  header div.wrapper ul.right li a.button{
    background-color:#141414;
    color:#D45945;
    padding: 10px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius:6px;

  }
  header .wrapper .logo img{
    width:170px;
    margin-left:50px;
  }
  header {
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.4s ease;
    margin-left: 60px;
    margin-right: 40px;
  }
  .mobile-menu {
    list-style: none;
    text-align:left;
    width: 50%;
    position: fixed;
    right:-100%;
    height:100vh;
    top: 0;
    z-index: 44;
    background: linear-gradient(10deg,#ff553b,#1d2cff);
    padding: 25% 10% 10% 10%;
    -webkit-transition: 0.6s ease-in;
    transition: 0.6s ease-in;
    -moz-transition-webkit-transition: 0.6s ease-in;
    -o-transition-webkit-transition: 0.6s ease-in;
  }
  .mobile-menu a.button{
   background:linear-gradient(30deg,#000000,#0606f146) ;
   padding:10px;
   border-radius: 10px;
  }
  header .right ul li:active {
    opacity: 1;
  }
  #about div.left{
    margin-left: 70px;
    margin-top:20px ;
  }
  #about div.left h1{
    color:white;
    font-size: 40px;
    margin-top: 70px;
    width: 500px;
  }

#about div.left h1 b{
  color:#D45945;

}
#about div.left p{
  color:#5B5A5D;
  margin-top: 31px;
  width:300px
}
#about div.left a.button nav{
  background: linear-gradient(95deg,#D45945,#A14D9B);
  margin-top: 30px;
  padding: 10px;
  padding-left: 18px;
  display:inline-block;
  border-radius: 10px;
  padding-right: 18px;
  color:white;
  text-align: center;
}
#about{
  display: flex;
  justify-content:space-between;
  margin-left:80px;
  margin-right: 60px;
  align-items: center;
}
#about div.left a.button nav small{
  color: #5B5A5D; 
  font-size: 14px;
}
#about div.right ul li:first-child img{
     width:150px;
     filter: blur(55px);
} 
#about div.right ul{
  align-items: center;
  margin-top: 150px;
}
#about div.right ul li:nth-child(2){
  margin-left:-530px;
  margin-top:-240px ;
}
#about div.right ul li:nth-child(2) img{
  width:480px;
  position:relative;
  z-index:2 ;
}
#about div.right ul li:first-child{
  margin-left:-280px;
  margin-top:50px;
}
#about div.right ul li:last-child img{
width:140px;
filter: blur(64px);
display:block;
height:100px;
} 
#about div.right ul li:last-child{
  margin-left:-560px;
  margin-top:-140px;
  
}
#awards div.items{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;

}
#awards div.items nav{
  display: flex;
  align-items:center;
  justify-content:space-between;
}
#awards{
  margin-top: 150px;
}
#awards div.items a nav.top img{
  background-color: #5B5A5D;
  width:36px;
  padding:8px;
  border-radius: 8px;
  margin: 7px;
}
#awards div.items a div.apple {
background:linear-gradient(135deg,#D45945,#A14D9B);
padding:7px;
margin: 20px;
height:290px;
width:220px ;
border-radius:9px;
display: inline-block;
border-image-repeat:round;
}
#awards div.items a div.google {
  background:linear-gradient(135deg,#D45945,#A14D9B);
  padding:7px;
  margin: 20px;
  height:290px;
  width:220px ;
  border-radius:9px;
  display: inline-block;
  border-image-repeat:round;
  }
 #awards div.items a div.free {
    background:linear-gradient(135deg,#D45945,#A14D9B);
    padding:7px;
    margin: 20px;
    height:290px;
    width:220px ;
    border-radius:9px;
    display: inline-block;
    border-image-repeat:round;
  }
  #awards div.items a div.flat {
    background:linear-gradient(135deg,#D45945,#A14D9B);
    padding:7px;
    margin: 20px;
    height:290px;
    width:220px ;
    border-radius:9px;
    display: inline-block;
    border-image-repeat:round;
  }
  #awards div.items a div div.app{
    background-color:#141414;
    height:286px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
    border-radius: 7px;
    padding-left: 7px;
    padding-top: 10px;
    padding-right: 10px;
  }

#awards div.items a nav.top h6{
  color: #5B5A5D;
  margin-right: 5px;
}
#awards div.items a div ul{
  margin-top:19px;
  margin-left:8px ;
    
}
#awards div.items a div ul li{
  margin-top:19px;
  color:white;
}
#awards div.items a div ul li:first-child{
color: #5B5A5D;
}
#awards div.items a nav.bottom h6{
margin-left: 9px;
margin-top: 9px;
font-size: 12px;
color:white;

}
#awards div.items a nav.bottom img{
  margin-top: 9px;
  width:22px;
  margin-right:5px ;
}
#awards div.items a:hover{
  background: linear-gradient(135deg,#D45945,#A14D9B);
  border-radius:10px;
  padding-top:25px;
  margin-bottom:20px;
}
#awards div.items a:hover div div.app{
  background: linear-gradient(135deg,#D45945,#A14D9B);
}
#awards div.items a nav.bottom{
  margin-top: 15px;
}
#awards div.items a:hover div nav.top img{
    background-color: #141414;
    width: 45px;
    padding:10px;
}
#news{
  background: linear-gradient(
    100deg,transparent,transparent,#D45945),url("../image/footer-image.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     width:74%;
     height:350px;
 margin-bottom: 50px;
 margin-top:80px;
 margin-left:13%;
 border-radius: 20px;
}
#news div.new{
   padding-top:80px;
   position:relative;
   color:white;
   margin-left: 70px;
   
}
#news div.new h4{
margin-bottom: 20px;
font-size: 29px;
width: 350px;
  
}
#news div.new p{
color:#8c8c8d;
font-size: 15px;
width: 300px;
margin-bottom: 25px;
}
#news div.new form input[type="email"]{
background-color: white;
padding: 13px;
border-radius:6px;
}
#awards div.items a:hover nav.top h6{
color:#3f3b3b;
}
#awards div.items a:hover ul li:first-child{
color:#414142;
}
#news div.new form a.button{
  background: linear-gradient(120deg,#D45945,#A14D9B);
  padding:13px;
  padding-top:11px;
  color:white;
  border-radius: 6px;
  margin-left:-25px;
 margin-top:2px;
}
#news div.new form input[type="email"]::placeholder{
  color:#4e4e50;
}
#contact .contact{
  display: flex;
  align-items: center;
}
#contact .contact .right ul{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
#contact .contact .right ul li{
  margin-right:27px ;
}
#contact .contact .right ul li:last-child{
  margin-right:10px;
  margin-left: 10px;
}
#contact .contact .right{
margin-left:22%;
color:#5B5A5D;
}
#contact .contact .left{
  margin-left: 13%;
  color:#5B5A5D;
}
#contact .contact .left ul li img{
  width:150px;
}
#contact .contact .left ul li{
  margin-bottom: 5px;

}
#contact{
  margin-bottom:30px;
}
#contact .contact .right ul li a{
  color:#5B5A5D;
}
#contact .contact .right ul li a.link{
  color: #D45945;
}
#contact .contact .right ul span{
  font-weight:bold;
}
#contact .contact .right ul li:nth-child(4){
  margin-right:10px;
}

header .menu-bar span {
  display: block;
  width: 21px;
  height:2px;
  border-radius: 9px;
  margin: 5px auto;
  background:linear-gradient(100deg,#D45945,#A14D9B);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  margin-right:-10px;
  padding-top:1px;
}

.active .menu-bar span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
.active .menu-bar span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.active .menu-bar span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
.mobile-menu li {
  margin-bottom: 50px;
}
.mobile-menu li a {
  font-size: 25px;
  color: #ffff;
  text-align:center;
}
.menu-bar {
  display: none;
  z-index: 99;
}

@media all and (max-width:1280px){
  #news{
    width:1040px ;
    margin-left:115px;
    margin-top:120px;
  }
  header .wrapper .logo img{
    margin-left: 10px;
  }
  #about div.left{
    margin-left:20px;
    margin-top: 90px;
  }
  #about div.right{
    margin-top:-10px;
  }
  #about div.right ul li:last-child img{
    width: 120px;
     margin-top:20px;

  }
  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:126px;
  }
  #contact .contact .right{
    margin-left:26%;
  }
  #contact .contact{
    margin-top: 90px;
  }
   header{
     margin-right:20px;
   }
}
@media all and (max-width:1180px){
  #news{
    width:1000px ;
    margin-left:90px;
    margin-top:120px;
  }
  header .wrapper .logo img{
    margin-left: 10px;
  }
  #about div.left{
    margin-left:20px;
    margin-top:120px;
  }
  #about div.right{
    margin-top: 30px;
  }
  #about div.right ul li:first-child{
    margin-top: -5px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-225px;

  }
  #about{
    margin-top:-40px;
  }

  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:92px;
  }
  #contact .contact .right{
    margin-left:25%;
  }
  #contact .contact{
    margin-top: 90px;
  }
  header{
    margin-right: 20px;
  }

}
@media all and (max-width:1080px){
  #news{
    width:983px ;
    margin-left:50px;
    margin-top:120px;
  }
  header .wrapper .logo img{
    margin-left: 10px;
  }
  header .wrapper ul.right li:last-child{
   margin-right: -15px;
  }
  #about div.left{
    margin-left:20px;
  }
  #about div.right{
    margin-top: 30px;
     margin-right: -85px;
  }
  #about div.right ul li:first-child{
    margin-top: -5px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-222px;

  }
  #about{
    margin-top:-60px;
  }
  #awards{
   margin-left: 16px;
  }

  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:55px;
  }
  #contact .contact .right{
    margin-left:25%;
  }
  #contact .contact{
    margin-top: 90px;
  }
  header{
    margin-right: 30px;
  }

}
@media all and (max-width:1024px){
  #news{
    width:930px ;
    margin-left:60px;
    margin-top:120px;
  }
  header .wrapper .logo img{
    margin-left: 10px;
  }
  header .wrapper ul.right li:last-child{
   margin-right: -5px;
  }
  #about div.left{
    margin-left:20px;
  }
  #about div.right{
    margin-top: 30px;
     margin-right: -95px;
  }
  #about div.right ul li:first-child{
    margin-top: -5px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-227px;

  }
  #about div.right ul li:last-child img{
     width:120px;
     margin-top: 20px;

  }
  #about div.right ul li:nth-child(2) img{
    width:460px;
  }
  #about{
    margin-top:-60px;
  }
  #awards{
   margin-left: 16px;
  }
  header{
    margin-right: 30px;
  }

  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:64px;
  }
  #contact .contact .right{
    margin-left:20%;
  }
  #contact .contact{
    margin-top: 90px;
  }

}
@media all and (max-width:980px){
  #news{
    width:880px ;
    margin-left:60px;
    margin-top:120px;
  }
  header .wrapper .logo img{
    margin-left:-10px;
  }
  header .wrapper ul.right li:last-child{
   margin-right: -5px;
  }
  header .wrapper ul.right li{
   margin:-20px ;
  }
  #about div.left{
    margin-left:-6px;
    margin-top: -20px;
  }
  #about div.left h1{
    font-size:35px;
    width: 350px;
  }
  #about div.right{
    margin-top:-110px;
     margin-right: -95px;
  }
  #about div.right ul li:first-child{
    margin-top: -5px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-227px;

  }
  #about div.right ul li:last-child img{
     width:120px;
     margin-top: 20px;

  }
  #about div.right ul li:nth-child(2) img{
    width:460px;
  }
  #about{
    margin-top:80px;
  }
  #awards{
   margin-left: 16px;
  }

  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:64px;
  }
  #contact .contact .right{
    margin-left:16%;
  }
  #contact .contact{
    margin-top: 90px;
  }
}

@media all and (max-width:929px){
  #news{
    width:830px ;
    margin-left:60px;
    margin-top:120px;
    background-size: 830;
  }
  header .wrapper .logo img{
    margin-left:-10px;
  }
  header .wrapper ul.right li:last-child{
   margin-right: -25px;
  }
  header .wrapper ul.right li{
   margin:-20px ;
  }
  #about div.left{
    margin-left:-6px;
    margin-top: -58px;
  }
  #about div.left h1{
    font-size:34px;
    width: 350px;
  }
  #about div.left p{
    font-size:18px;
    width: 280px;
  }
  #about div.right{
    margin-top:-55px;
    margin-right: -135px;
  }
  #about div.right ul li:first-child{
    margin-top: -5px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-177px;

  }
  #about div.right ul li:last-child img{
     width:100px;
     margin-top: 40px;
     margin-left: 80px;

  }
  #about div.right ul li:nth-child(2) img{
    width:350px;
    margin-left: 75px;
  }
  #about div.right ul li:first-child img{
     width:120px;
     margin-top: -100px;
  }
  #about{
    margin-top:120px;
  }
  #awards{
   margin-left: 16px;
  }
  header{
   margin-right: 40px;
   }

  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:64px;
  }
  #contact .contact .right{
    margin-left:13%;
  }
  #contact .contact{
    margin-top: 90px;
  }

}


@media all and (max-width:890px){
  #news{
    width:810px ;
    margin-left:60px;
    margin-top:120px;
    background-size: 780;
  }
  header .wrapper .logo img{
    margin-left:-10px;
  }
  header .wrapper ul.right li:last-child{
   margin-right: -25px;
  }
  header .wrapper ul.right li{
   margin:-20px ;
  }
  #about div.left{
    margin-left:-6px;
    margin-top: -58px;
  }
  #about div.left h1{
    font-size:30px;
    width: 300px;
  }
  #about div.left p{
    font-size:16px;
    width: 260px;
  }
  #about div.right{
    margin-top:-55px;
    margin-right: -135px;
  }
  #about div.right ul li:first-child{
    margin-top: -5px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-177px;

  }
  #about div.right ul li:last-child img{
     width:100px;
     margin-top: 40px;
     margin-left: 80px;

  }
  #about div.right ul li:nth-child(2) img{
    width:350px;
    margin-left: 75px;
  }
  #about div.right ul li:first-child img{
     width:120px;
     margin-top: -100px;
  }
  #about{
    margin-top:120px;
  }
  #awards{
   margin-left: 16px;
  }
  header{
   margin-right: 40px;
   }

  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:64px;
  }
  #contact .contact .right{
    margin-left:10%;
  }
  #contact .contact{
    margin-top: 90px;
  }

}


@media all and (max-width:768px){
  #news{
    width:715px ;
    margin-left:60px;
    margin-top:120px;
    background-size: 715px 330px ;
    height:330px;
  }
  header .wrapper .logo img{
    margin-left:-30px;
  }
  header .wrapper ul.right li:last-child{
   margin-right:-90px;
  }
  header .wrapper ul.right li{
   margin-right:-25px ;
  }
  header{
    margin-right: 70px;
  }
  #about div.left{
    margin-left:-6px;
    margin-top: -80px;
  }
  #about div.left h1{
    font-size:30px;
    width: 300px;
  }
  #about div.left p{
    font-size:16px;
    width: 260px;
  }
  #about div.right{
    margin-top:-60px;
   
  }
  #about div.right ul li:first-child{
    margin-top: -90px;
    margin-right:40px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-157px;

  }
  #about div.right ul li:last-child img{
     width:90px;
     margin-top: 35px;
     margin-left: 160px;
    filter: blur(48px)

  }
  #about div.right ul li:nth-child(2) img{
    width:320px;
    margin-left:155px;
  }
  #about div.right ul li:first-child img{
     width:100px;
     margin-top:-150px;
     filter:blur(35px);
     margin-left: 80px;

  }
  #about{
    margin-top:150px;
  }
  #awards{
   margin-left: 56px;
  }

  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:70px;
  }
  #contact .contact .left ul li{
    margin-top: 10px;
  }
  #contact .contact .right{
    margin-left:55%;
    margin-right: -28px;
  }
  #contact .contact{
    margin-top:-80px;
  }
  #contact .contact .right ul{
  display: block;
  margin-top: 125px;
 }
 #contact .contact .right ul span{
   display: none;
 }
 #contact .contact .right ul li{
  margin-bottom:6px;
}
#contact .contact .right ul li:last-child{
margin-top: 70px;
margin-left:-350px;
}
}
@media all and (max-width:750px){
  .menu-bar{
    display: block;
    margin-top: -29px;
  }
  header div.wrapper ul.right{
    display:none;
  }
  .active .mobile-menu {
    right:0;
  } 
  header .menu-bar span {
   padding-bottom: 3px;
   width:30px;
   margin-right:-35px;

  }
  #news{
    width:675px ;
    margin-left:29px;
    margin-top:100px;
    background-size: 675px 300px ;
    height:300px;
  }
  #news div.new form input{
    width:150px;
    margin-left:-40px;
    font-size: 11px;

  }
  #news div.new form a.button{
    font-size: 14px;
    padding:11px;
    padding-bottom: 13px;
    margin-left: -20px;
  }
  #news div.new p{
    font-size: 10px;
    width: 180px;
    margin-left:-40px;
  }
  #news div.new h4{
    width: 220px;
    font-size:25px;
    margin-left: -40px;
    margin-top: -20px;
  }
  header .wrapper .logo img{
    margin-left:-20px;
    width:120px ;
    margin-top:-15px;
  }
  #about div.left{
    margin-left:-20px;
    margin-top: -80px;
  }
  header .wrapper .logo{
    margin-top: -18px;
  }
  #about div.left h1{
    font-size:25px;
    width:250px;
  }
  #about div.left p{
    font-size:13px;
    width:220px;
    margin-top:10px;
  }
  #about div.left nav{
    font-size:13px;
    
  }
  #about div.left a.button nav small{
    font-size:12px;
  }
  #about div.left a.button nav{
    margin-top:20px;
  }

  #about div.right{
    margin-top:-60px;
    margin-right:110px;
   
  }
  #about div.right ul li:first-child{
    margin-top:-30px;
    margin-right:40px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-157px;
  }
  #about div.right ul li:last-child img{
     width:70px;
     margin-top:-218px;
     margin-left:795px;
    filter: blur(35px)

  }
  #about div.right ul li:nth-child(2) img{
    width:276px;
    margin-left:600px;
    margin-top:-69px ;
  }
  #about div.right ul li:first-child img{
     width:70px;
     filter:blur(37px);
     margin-left:340px;
  }
  #about{
    margin-top:110px;
  }
  #awards{
    margin-left:0px;
  }
  #awards div.items a{
    margin-left:0px;
  }
  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:28px;
  }
  #contact .contact .left ul li{
    margin-top: 8px;
    width: 150px;
  }
  #contact .contact .left ul li img{
    width:130px;
  }
  #contact .contact .right{
    margin-left:65%;
    margin-right:-100px;
  }
  #contact .contact{
    margin-top:-80px;
    
  }
  #contact{
   margin-right: 50px;
  }
  #contact .contact .right ul{
  display: block;
  margin-top: 125px;
 }
 #contact .contact .right ul span{
   display: none;
 }
 #contact .contact .right ul li{
  margin-bottom:6px;
}
#contact .contact .right ul li:last-child{
margin-top: 70px;
margin-left:-355px;
font-size: 18px;
}
.mobile-menu  li a{
  font-size:20px ;
}
.mobile-menu{
  height: 250vh;
  width: 65%;
}
body{
  overflow-x: hidden;
}
}

@media all and (max-width:710px){
  .menu-bar{
    display: block;
    margin-top: -29px;
  }
  header div.wrapper ul.right{
    display:none;
  }
  .active .mobile-menu {
    right:0;
  } 
  header .menu-bar span {
   padding-bottom: 3px;
   width:30px;
   margin-right:-35px;

  }
  #news{
    width:645px ;
    margin-left:29px;
    margin-top:100px;
    background-size: 645px 300px ;
    height:300px;
  }
  #news div.new form input{
    width:150px;
    margin-left:-40px;
    font-size: 11px;

  }
  #news div.new form a.button{
    font-size: 14px;
    padding:11px;
    padding-bottom: 13px;
    margin-left: -20px;
  }
  #news div.new p{
    font-size: 10px;
    width: 180px;
    margin-left:-40px;
  }
  #news div.new h4{
    width: 220px;
    font-size:25px;
    margin-left: -40px;
    margin-top: -20px;
  }
  header .wrapper .logo img{
    margin-left:-20px;
    width:120px ;
    margin-top:-15px;
  }
  #about div.left{
    margin-left:-20px;
    margin-top: -80px;
  }
  header .wrapper .logo{
    margin-top: -18px;
  }
  #about div.left h1{
    font-size:25px;
    width:250px;
  }
  #about div.left p{
    font-size:13px;
    width:220px;
    margin-top:10px;
  }
  #about div.left nav{
    font-size:13px;
    
  }
  #about div.left a.button nav small{
    font-size:12px;
  }
  #about div.left a.button nav{
    margin-top:20px;
  }

  #about div.right{
    margin-top:-60px;
    margin-right:110px;
   
  }
  #about div.right ul li:first-child{
    margin-top:-30px;
    margin-right:40px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-157px;
  }
  #about div.right ul li:last-child img{
     width:70px;
     margin-top:-218px;
     margin-left:795px;
    filter: blur(35px)

  }
  #about div.right ul li:nth-child(2) img{
    width:276px;
    margin-left:600px;
    margin-top:-69px ;
  }
  #about div.right ul li:first-child img{
     width:70px;
     filter:blur(37px);
     margin-left:340px;
  }
  #about{
    margin-top:110px;
  }
  #awards{
    margin-left:0px;
  }
  #awards div.items a{
    margin-left:0px;
  }
  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:28px;
  }
  #contact .contact .left ul li{
    margin-top: 8px;
    width: 150px;
  }
  #contact .contact .left ul li img{
    width:130px;
  }
  #contact .contact .right{
    margin-left:65%;
    margin-right:-100px;
  }
  #contact .contact{
    margin-top:-80px;
    
  }
  #contact{
   margin-right: 50px;
  }
  #contact .contact .right ul{
  display: block;
  margin-top: 125px;
 }
 #contact .contact .right ul span{
   display: none;
 }
 #contact .contact .right ul li{
  margin-bottom:6px;
}
#contact .contact .right ul li:last-child{
margin-top: 70px;
margin-left:-345px;
font-size: 18px;
}
.mobile-menu  li a{
  font-size:20px ;
}
.mobile-menu{
  height: 250vh;
  width: 65%;
}
body{
  overflow-x: hidden;
}
}

@media all and (max-width:690px){
  .menu-bar{
    display: block;
    margin-top: -29px;
  }
  header div.wrapper ul.right{
    display:none;
  }
  .active .mobile-menu {
    right:0;
  } 
  header .menu-bar span {
   padding-bottom: 3px;
   width:30px;
   margin-right:-35px;

  }
  #news{
    width:625px ;
    margin-left:29px;
    margin-top:100px;
    background-size: 625px 300px ;
    height:300px;
  }
  #news div.new form input{
    width:150px;
    margin-left:-40px;
    font-size: 11px;

  }
  #news div.new form a.button{
    font-size: 14px;
    padding:11px;
    padding-bottom: 13px;
    margin-left: -20px;
  }
  #news div.new p{
    font-size: 10px;
    width: 180px;
    margin-left:-40px;
  }
  #news div.new h4{
    width: 220px;
    font-size:25px;
    margin-left: -40px;
    margin-top: -20px;
  }
  header .wrapper .logo img{
    margin-left:-20px;
    width:120px ;
    margin-top:-15px;
  }
  #about div.left{
    margin-left:-20px;
    margin-top: -80px;
  }
  header .wrapper .logo{
    margin-top: -18px;
  }
  #about div.left h1{
    font-size:25px;
    width:250px;
  }
  #about div.left p{
    font-size:13px;
    width:220px;
    margin-top:10px;
  }
  #about div.left nav{
    font-size:13px;
    
  }
  #about div.left a.button nav small{
    font-size:12px;
  }
  #about div.left a.button nav{
    margin-top:20px;
  }

  #about div.right{
    margin-top:-60px;
    margin-right:110px;
   
  }
  #about div.right ul li:first-child{
    margin-top:-70px;
    margin-right:40px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-157px;
  }
  #about div.right ul li:last-child img{
     width:70px;
     margin-top:-198px;
     margin-left:775px;
    filter: blur(35px)

  }
  #about div.right ul li:nth-child(2) img{
    width:256px;
    margin-left:590px;
    margin-top:-49px ;
  }
  #about div.right ul li:first-child img{
     width:70px;
     filter:blur(37px);
     margin-left:320px;
  }
  #about{
    margin-top:110px;
  }
  #awards{
    margin-left:0px;
  }
  #awards div.items a{
    margin-left:0px;
  }
  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:28px;
  }
  #contact .contact .left ul li{
    margin-top: 8px;
    width: 150px;
  }
  #contact .contact .left ul li img{
    width:130px;
  }
  #contact .contact .right{
    margin-left:64%;
    margin-right:-100px;
  }
  #contact .contact{
    margin-top:-80px;
    
  }
  #contact{
   margin-right: 50px;
  }
  #contact .contact .right ul{
  display: block;
  margin-top: 125px;
 }
 #contact .contact .right ul span{
   display: none;
 }
 #contact .contact .right ul li{
  margin-bottom:6px;
}
#contact .contact .right ul li:last-child{
margin-top: 70px;
margin-left:-325px;
font-size: 18px;
}
.mobile-menu  li a{
  font-size:20px ;
}
.mobile-menu{
  height: 250vh;
  width: 65%;
}
body{
  overflow-x: hidden;
}
}



@media all and (max-width:580px){
  .menu-bar{
    display: block;
    margin-top: -29px;
  }
  header div.wrapper ul.right{
    display:none;
  }
  .active .mobile-menu {
    right:0;
  } 
  header .menu-bar span {
   padding-bottom: 3px;
   width:30px;
   margin-right:-35px;

  }
  #news{
    width:517px ;
    margin-left:29px;
    margin-top:120px;
    background-size: 519px 300px ;
    height:300px;
  }
  #news div.new form input{
    width:150px;
    margin-left:-40px;
    font-size: 11px;

  }
  #news div.new form a.button{
    font-size: 14px;
    padding:11px;
    padding-bottom: 13px;
    margin-left: -20px;
  }
  #news div.new p{
    font-size: 10px;
    width: 180px;
    margin-left:-40px;
  }
  #news div.new h4{
    width: 220px;
    font-size:25px;
    margin-left: -40px;
    margin-top: -20px;
  }
  header .wrapper .logo img{
    margin-left:-40px;
    width:120px ;
    margin-top:-15px;
  }
  #about div.left{
    margin-left:-40px;
    margin-top: -80px;
  }
  header .wrapper .logo{
    margin-top: -18px;
  }
  #about div.left h1{
    font-size:20px;
    width:200px;
  }
  #about div.left p{
    font-size:13px;
    width:180px;
    margin-top:10px;
  }
  #about div.left nav{
    font-size:13px;
    
  }
  #about div.left a.button nav small{
    font-size:12px;
  }
  #about div.left a.button nav{
    margin-top:20px;
  }

  #about div.right{
    margin-top:-60px;
    margin-right:110px;
   
  }
  #about div.right ul li:first-child{
    margin-top:-70px;
    margin-right:40px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-157px;
  }
  #about div.right ul li:last-child img{
     width:70px;
     margin-top:-178px;
     margin-left:740px;
    filter: blur(35px)

  }
  #about div.right ul li:nth-child(2) img{
    width:226px;
    margin-left:590px;
    margin-top:-29px ;
  }
  #about div.right ul li:first-child img{
     width:70px;
     filter:blur(37px);
     margin-left:320px;
  }
  #about{
    margin-top:100px;
  }
  #awards{
    margin-left:0px;
  }
  #awards div.items a{
    margin-left:0px;
  }
  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:28px;
  }
  #contact .contact .left ul li{
    margin-top: 8px;
    width: 150px;
  }
  #contact .contact .left ul li img{
    width:130px;
  }
  #contact .contact .right{
    margin-left:57%;
    margin-right:-100px;
  }
  #contact .contact{
    margin-top:-80px;
    
  }
  #contact{
   margin-right: 50px;
  }
  #contact .contact .right ul{
  display: block;
  margin-top: 125px;
 }
 #contact .contact .right ul span{
   display: none;
 }
 #contact .contact .right ul li{
  margin-bottom:6px;
}
#contact .contact .right ul li:last-child{
margin-top: 70px;
margin-left:-280px;
font-size: 18px;
}
.mobile-menu  li a{
  font-size:20px ;
}
.mobile-menu{
  height: 250vh;
  width: 65%;
}
body{
  overflow-x: hidden;
}
}

@media all and (max-width:495px){
  .menu-bar{
    display: block;
    margin-top: -29px;
  }
  header div.wrapper ul.right{
    display:none;
  }
  .active .mobile-menu {
    right:0;
  } 
  header .menu-bar span {
   padding-bottom: 3px;
   width:30px;
   margin-right:-35px;

  }
  #news{
    width:435px ;
    margin-left:29px;
    margin-top:120px;
    background-size: 440px 300px ;
    height:300px;
  }
  #news div.new form input{
    width:120px;
    margin-left:-50px;
    font-size: 10px;
  }
  #news div.new form a.button{
    font-size: 14px;
    padding:11px;
    padding-bottom: 13px;
    margin-left: -20px;
  }
  #news div.new p{
    font-size: 10px;
    width: 180px;
    margin-left:-50px;
  }
  #news div.new h4{
    width: 220px;
    font-size:20px;
    margin-left: -50px;
  }
  header .wrapper .logo img{
    margin-left:-40px;
    width:120px ;
    margin-top:-15px;
  }
  #about div.left{
    margin-left:-40px;
    margin-top: -80px;
  }
  header .wrapper .logo{
    margin-top: -18px;
  }
  #about div.left h1{
    font-size:20px;
    width:200px;
  }
  #about div.left p{
    font-size:13px;
    width:180px;
    margin-top:10px;
  }
  #about div.left nav{
    font-size:13px;
    
  }
  #about div.left a.button nav small{
    font-size:12px;
  }
  #about div.left a.button nav{
    margin-top:20px;
  }

  #about div.right{
    margin-top:-60px;
    margin-right:110px;
   
  }
  #about div.right ul li:first-child{
    margin-top:-90px;
    margin-right:40px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-157px;
  }
  #about div.right ul li:last-child img{
     width:50px;
     margin-top:-175px;
     margin-left:710px;
    filter: blur(35px)

  }
  #about div.right ul li:nth-child(2) img{
    width:196px;
    margin-left:560px;
    margin-top:-10px ;
  }
  #about div.right ul li:first-child img{
     width:50px;
     filter:blur(37px);
     margin-left:290px;
  }
  #about{
    margin-top:100px;
  }
  
  #awards{
    margin-left:53px;
    margin-top: 90px;
    margin-right:50px
  }
  #awards div.items a{
    margin-left:0px;
  }
  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:28px;
  }
  #contact .contact .left ul li{
    margin-top: 8px;
    width: 150px;
  }
  #contact .contact .left ul li img{
    width:130px;
  }
  #contact .contact .right{
    margin-left:46%;
    margin-right:-100px;
  }
  #contact .contact{
    margin-top:-80px;
    
  }
  #contact{
   margin-right: 50px;
  }
  #contact .contact .right ul{
  display: block;
  margin-top: 125px;
 }
 #contact .contact .right ul span{
   display: none;
 }
 #contact .contact .right ul li{
  margin-bottom:6px;
}
#contact .contact .right ul li:last-child{
margin-top: 70px;
margin-left:-220px;
font-size: 15px;
}
.mobile-menu  li a{
  font-size:20px ;
}
.mobile-menu{
  height: 250vh;
  width: 65%;
}
body{
  overflow-x: hidden;
}
}



@media all and (max-width:425px){
  .menu-bar{
    display: block;
    margin-top: -29px;
  }
  header div.wrapper ul.right{
    display:none;
  }
  .active .mobile-menu {
    right:0;
  } 
  header .menu-bar span {
   padding-bottom: 3px;
   width:30px;
   margin-right:-35px;

  }
  #news{
    width:360px ;
    margin-left:29px;
    margin-top:120px;
    background-size: 360px 300px ;
    height:300px;
  }
  #news div.new form input{
    width:120px;
    margin-left:-50px;
    font-size: 10px;
  }
  #news div.new form a.button{
    font-size: 14px;
    padding:11px;
    padding-bottom: 13px;
    margin-left: -20px;
  }
  #news div.new p{
    font-size: 10px;
    width: 180px;
    margin-left:-50px;
  }
  #news div.new h4{
    width: 220px;
    font-size:20px;
    margin-left: -50px;
  }
  header .wrapper .logo img{
    margin-left:-40px;
    width:120px ;
    margin-top:-15px;
  }
  #about div.left{
    margin-left:-40px;
    margin-top: -80px;
  }
  header .wrapper .logo{
    margin-top: -18px;
  }
  #about div.left h1{
    font-size:15px;
    width:200px;
  }
  #about div.left p{
    font-size:10px;
    width:150px;
    margin-top:10px;
  }
  #about div.left nav{
    font-size:10px;
    
  }
  #about div.left a.button nav small{
    font-size:10px;
  }
  #about div.left a.button nav{
    margin-top:20px;
  }

  #about div.right{
    margin-top:-60px;
    margin-right:110px;
   
  }
  #about div.right ul li:first-child{
    margin-top:-90px;
    margin-right:40px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-157px;
  }
  #about div.right ul li:last-child img{
     width:50px;
     margin-top:-25px;
     margin-left:640px;
    filter: blur(28px)

  }
  #about div.right ul li:nth-child(2) img{
    width:166px;
    margin-left:510px;
    margin-top:10px ;
  }
  #about div.right ul li:first-child img{
     width:50px;
     filter:blur(30px);
     margin-left:250px;
  }
  #about{
    margin-top:100px;
  }
  
  #awards{
    margin-left:53px;
    margin-top: 90px;
    margin-right:50px
  }
  #awards div.items a{
    margin-left:0px;
  }
  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:28px;
  }
  #contact .contact .left ul li{
    margin-top: 8px;
    width: 150px;
  }
  #contact .contact .left ul li img{
    width:130px;
  }
  #contact .contact .right{
    margin-left:36%;
    margin-right:-50px;
  }
  #contact .contact{
    margin-top:-80px;
    
  }
  #contact{
   margin-right: 50px;
  }
  #contact .contact .right ul{
  display: block;
  margin-top: 125px;
 }
 #contact .contact .right ul span{
   display: none;
 }
 #contact .contact .right ul li{
  margin-bottom:6px;
}
#contact .contact .right ul li:last-child{
margin-top: 70px;
margin-left:-190px;
font-size: 15px;
}
.mobile-menu  li a{
  font-size:20px ;
}
.mobile-menu{
  height: 250vh;
  width: 65%;
}
body{
  overflow-x: hidden;
}
}
@media all and (max-width:400px){
  .menu-bar{
    display: block;
    margin-top: -29px;
  }
  header div.wrapper ul.right{
    display:none;
  }
  .active .mobile-menu {
    right:0;
  } 
  header .menu-bar span {
   padding-bottom: 3px;
   margin-left:90px;
   width:30px;
   margin-right:-40px;

  }
  #news{
    width:347px ;
    margin-left:20px;
    margin-top:120px;
    background-size: 347px 300px ;
    height:300px;
  }
  #news div.new form input{
    width:120px;
    margin-left:-50px;
    font-size: 10px;
  }
  #news div.new form a.button{
    font-size: 14px;
    padding:11px;
    padding-bottom: 13px;
    margin-left: -20px;
  }
  #news div.new p{
    font-size: 10px;
    width: 180px;
    margin-left:-50px;
  }
  #news div.new h4{
    width: 220px;
    font-size:20px;
    margin-left: -50px;
  }
  header .wrapper .logo img{
    margin-left:-40px;
    width:120px ;
    margin-top:-15px;
  }
  #about div.left{
    margin-left:-50px;
    margin-top: -80px;
  }
  header .wrapper .logo{
    margin-top: -18px;
  }
  #about div.left h1{
    font-size:15px;
    width:200px;
  }
  #about div.left p{
    font-size:10px;
    width:150px;
    margin-top:10px;
  }
  #about div.left nav{
    font-size:10px;
    
  }
  #about div.left a.button nav small{
    font-size:10px;
  }
  #about div.left a.button nav{
    margin-top:20px;
  }

  #about div.right{
    margin-top:-60px;
   
  }
  #about div.right ul li:first-child{
    margin-top:-80px;
    margin-right:40px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-157px;

  }
  #about div.right ul li:last-child img{
     width:50px;
     margin-top:-35px;
     margin-left:635px;
    filter: blur(25px)

  }
  #about div.right ul li:nth-child(2) img{
    width:166px;
    margin-left:510px;
    margin-top:10px ;
  }
  #about div.right ul li:first-child img{
     width:50px;
     filter:blur(30px);
     margin-left:255px;
  }
  #about{
    margin-top:100px;
  }
  
  #awards{
    margin-left:40px;
  }
  #awards div.items a{
    margin-left:0px;
  }
  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:25px;
  }
  #contact .contact .left ul li{
    margin-top: 8px;
    width: 150px;
  }
  #contact .contact .left ul li img{
    width:130px;
  }
  #contact .contact .right{
    margin-left:32%;
    margin-right:-70px;
  }
  #contact .contact{
    margin-top:-80px;
  }
  #contact .contact .right ul{
  display: block;
  margin-top: 125px;
 }
 #contact .contact .right ul span{
   display: none;
 }
 #contact .contact .right ul li{
  margin-bottom:6px;
}
#contact .contact .right ul li:last-child{
margin-top: 70px;
margin-left:-170px;
font-size: 15px;
}
.mobile-menu  li a{
  font-size:20px ;
}
.mobile-menu{
  height: 250vh;
  width: 65%;
} 
body{
  overflow-x: hidden;
}
}
@media all and (max-width:375px){
  .menu-bar{
    display: block;
    margin-top: -29px;
  }
  header div.wrapper ul.right{
    display:none;
  }
  .active .mobile-menu {
    right:0;
  } 
  header .menu-bar span {
   padding-bottom: 3px;
   margin-left:90px;
   width:30px;
   margin-right:-40px;

  }
  #news{
    width:330px ;
    margin-left:20px;
    margin-top:120px;
    background-size: 330px 300px ;
    height:300px;
  }
  #news div.new form input{
    width:120px;
    margin-left:-50px;
    font-size: 10px;
  }
  #news div.new form a.button{
    font-size: 14px;
    padding:11px;
    padding-bottom: 13px;
    margin-left: -20px;
  }
  #news div.new p{
    font-size: 10px;
    width: 180px;
    margin-left:-50px;
  }
  #news div.new h4{
    width: 220px;
    font-size:20px;
    margin-left: -50px;
  }
  header .wrapper .logo img{
    margin-left:-40px;
    width:120px ;
    margin-top:-15px;
  }
  #about div.left{
    margin-left:-50px;
    margin-top: -80px;
  }
  header .wrapper .logo{
    margin-top: -18px;
  }
  #about div.left h1{
    font-size:15px;
    width:200px;
  }
  #about div.left p{
    font-size:10px;
    width:150px;
    margin-top:10px;
  }
  #about div.left nav{
    font-size:10px;
    
  }
  #about div.left a.button nav small{
    font-size:10px;
  }
  #about div.left a.button nav{
    margin-top:20px;
  }

  #about div.right{
    margin-top:-60px;
   
  }
  #about div.right ul li:first-child{
    margin-top:-80px;
    margin-right:40px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-157px;

  }
  #about div.right ul li:last-child img{
     width:50px;
     margin-top:-35px;
     margin-left:615px;
    filter: blur(25px)

  }
  #about div.right ul li:nth-child(2) img{
    width:166px;
    margin-left:500px;
    margin-top:10px ;
  }
  #about div.right ul li:first-child img{
     width:50px;
     filter:blur(30px);
     margin-left:235px;
  }
  #about{
    margin-top:100px;
  }
  
  #awards{
    margin-left:40px;
  }
  #awards div.items a{
    margin-left:0px;
  }
  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:25px;
  }
  #contact .contact .left ul li{
    margin-top: 8px;
    width: 150px;
  }
  #contact .contact .left ul li img{
    width:130px;
  }
  #contact .contact .right{
    margin-left:30%;
    margin-right:-50px;
  }
  #contact .contact{
    margin-top:-80px;
  }
  #contact .contact .right ul{
  display: block;
  margin-top: 125px;
 }
 #contact .contact .right ul span{
   display: none;
 }
 #contact .contact .right ul li{
  margin-bottom:6px;
}
#contact .contact .right ul li:last-child{
margin-top: 70px;
margin-left:-170px;
font-size: 15px;
}
.mobile-menu  li a{
  font-size:20px ;
}
.mobile-menu{
  height: 250vh;
  width: 65%;
} 
body{
  overflow-x: hidden;
}
}

@media all and (max-width:357px){
  .menu-bar{
    display: block;
    margin-top: -29px;
  }
  header div.wrapper ul.right{
    display:none;
  }
  .active .mobile-menu {
    right:0;
  } 
  header .menu-bar span {
   padding-bottom: 3px;
   width:30px;
   margin-right:-55px;

  }
  #news{
    width:310px ;
    margin-left:20px;
    margin-top:120px;
    background-size:310px 300px ;
    height:300px;
  }
  #news div.new form input{
    width:120px;
    margin-left:-50px;
    font-size: 10px;
  }
  #news div.new form a.button{
    font-size: 14px;
    padding:11px;
    padding-bottom: 13px;
    margin-left: -20px;
  }
  #news div.new p{
    font-size: 10px;
    width: 180px;
    margin-left:-50px;
  }
  #news div.new h4{
    width: 220px;
    font-size:20px;
    margin-left: -50px;
  }
  header .wrapper .logo img{
    margin-left:-40px;
    width:120px ;
    margin-top:-15px;
  }
  #about div.left{
    margin-left:-50px;
    margin-top: -80px;
  }
  header .wrapper .logo{
    margin-top: -18px;
  }
  #about div.left h1{
    font-size:15px;
    width:200px;
  }
  #about div.left p{
    font-size:10px;
    width:150px;
    margin-top:10px;
  }
  #about div.left nav{
    font-size:10px;
    
  }
  #about div.left a.button nav small{
    font-size:10px;
  }
  #about div.left a.button nav{
    margin-top:20px;
  }

  #about div.right{
    margin-top:-60px;
   
  }
  #about div.right ul li:first-child{
    margin-top:-80px;
    margin-right:40px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-157px;

  }
  #about div.right ul li:last-child img{
     width:50px;
     margin-top: -25px;
     margin-left:595px;
    filter: blur(28px)

  }
  #about div.right ul li:nth-child(2) img{
    width:146px;
    margin-left:490px;
    margin-top:25px ;
  }
  #about div.right ul li:first-child img{
     width:50px;
     filter:blur(30px);
     margin-left:235px;
  }
  #about{
    margin-top:100px;
  }
  
  #awards{
    margin-left:25px;
  }
  #awards div.items a{
    margin-left:25px;
  }
  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:22px;
  }
  #contact .contact .left ul li{
    margin-top: 8px;
    width: 150px;
    font-size: 14px;
  }
  #contact .contact .left ul li img{
    width:130px;
  }
  #contact .contact .right{
    margin-left:34%;
    margin-right:-100px;
  }
  #contact .contact{
    margin-top:-80px;
  }
  #contact .contact .right ul{
  display: block;
  margin-top: 125px;
 }
 #contact .contact .right ul span{
   display: none;
 }
 #contact .contact .right ul li{
  margin-bottom:6px;
  font-size: 14px;
}
#contact .contact .right ul li:last-child{
margin-top: 70px;
margin-left:-170px;
font-size: 15px;
}
.mobile-menu  li a{
  font-size:20px ;
}
.mobile-menu{
  width: 65%;
} 
body{
  overflow-x: hidden;
} 

}

@media all and (max-width:320px){
  .menu-bar{
    display: block;
    margin-top: -29px;
  }
  header div.wrapper ul.right{
    display:none;
  }
  .active .mobile-menu {
    right:0;
  } 
  header .menu-bar span {
   padding-bottom: 3px;
   margin-left:90px;
   width:30px;
   margin-right:-65px;

  }
  #news{
    width:290px ;
    margin-left:20px;
    margin-top:120px;
    background-size:290px 300px ;
    height:300px;
  }
  #news div.new form input{
    width:120px;
    margin-left:-50px;
    font-size: 10px;
  }
  #news div.new form a.button{
    font-size: 14px;
    padding:11px;
    padding-bottom: 13px;
    margin-left: -20px;
  }
  #news div.new p{
    font-size: 10px;
    width: 180px;
    margin-left:-50px;
  }
  #news div.new h4{
    width: 220px;
    font-size:20px;
    margin-left: -50px;
  }
  header .wrapper .logo img{
    margin-left:-40px;
    width:120px ;
    margin-top:-15px;
  }
  #about div.left{
    margin-left:-50px;
    margin-top: -80px;
  }
  header .wrapper .logo{
    margin-top: -18px;
  }
  #about div.left h1{
    font-size:15px;
    width:200px;
  }
  #about div.left p{
    font-size:10px;
    width:150px;
    margin-top:10px;
  }
  #about div.left nav{
    font-size:10px;
    
  }
  #about div.left a.button nav small{
    font-size:10px;
  }
  #about div.left a.button nav{
    margin-top:20px;
  }

  #about div.right{
    margin-top:-60px;
   
  }
  #about div.right ul li:first-child{
    margin-top:-80px;
    margin-right:40px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-157px;

  }
  #about div.right ul li:last-child img{
     width:50px;
     margin-top: -25px;
     margin-left:595px;
    filter: blur(28px)

  }
  #about div.right ul li:nth-child(2) img{
    width:146px;
    margin-left:490px;
    margin-top:25px ;
  }
  #about div.right ul li:first-child img{
     width:50px;
     filter:blur(30px);
     margin-left:235px;
  }
  #about{
    margin-top:100px;
  }
  
  #awards{
    margin-left:40px;
  }
  #awards div.items a{
    margin-left:25px;
  }
  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:22px;
  }
  #contact .contact .left ul li{
    margin-top: 8px;
    width: 150px;
    font-size: 14px;
  }
  #contact .contact .left ul li img{
    width:130px;
  }
  #contact .contact .right{
    margin-left:30%;
    margin-right:-100px;
  }
  #contact .contact{
    margin-top:-80px;
  }
  #contact .contact .right ul{
  display: block;
  margin-top: 125px;
 }
 #contact .contact .right ul span{
   display: none;
 }
 #contact .contact .right ul li{
  margin-bottom:6px;
  font-size: 14px;
}
#contact .contact .right ul li:last-child{
margin-top: 70px;
margin-left:-170px;
font-size: 15px;
}
.mobile-menu  li a{
  font-size:20px ;
}
.mobile-menu{
  width: 65%;
} 
body{
  overflow-x: hidden;
} 

}
@media all and (max-width:280px){
  .menu-bar{
    display: block;
    margin-top: -29px;
  }
  header div.wrapper ul.right{
    display:none;
  }
  .active .mobile-menu {
    right:0;
  } 
  header .menu-bar span {
   padding-bottom: 3px;
   margin-left:90px;
   width:30px;
   margin-right:-110px;

  }
  #news{
    width:290px ;
    margin-left:20px;
    margin-top:120px;
    background-size:290px 300px ;
    height:300px;
  }
  #news div.new form input{
    width:120px;
    margin-left:-50px;
    font-size: 10px;
  }
  #news div.new form a.button{
    font-size: 14px;
    padding:11px;
    padding-bottom: 13px;
    margin-left: -20px;
  }
  #news div.new p{
    font-size: 10px;
    width: 180px;
    margin-left:-50px;
  }
  #news div.new h4{
    width: 220px;
    font-size:20px;
    margin-left: -50px;
  }
  header .wrapper .logo img{
    margin-left:-40px;
    width:120px ;
    margin-top:-15px;
  }
  #about div.left{
    margin-left:-50px;
    margin-top: -80px;
  }
  header .wrapper .logo{
    margin-top: -18px;
  }
  #about div.left h1{
    font-size:15px;
    width:200px;
  }
  #about div.left p{
    font-size:10px;
    width:150px;
    margin-top:10px;
  }
  #about div.left nav{
    font-size:10px;
    
  }
  #about div.left a.button nav small{
    font-size:10px;
  }
  #about div.left a.button nav{
    margin-top:20px;
  }

  #about div.right{
    margin-top:-60px;
   
  }
  #about div.right ul li:first-child{
    margin-top:-80px;
    margin-right:40px;
  }
  #about div.right ul li:nth-child(2){
    margin-top:-157px;

  }
  #about div.right ul li:last-child img{
     width:50px;
     margin-top: -25px;
     margin-left:595px;
    filter: blur(28px)

  }
  #about div.right ul li:nth-child(2) img{
    width:146px;
    margin-left:490px;
    margin-top:25px ;
  }
  #about div.right ul li:first-child img{
     width:50px;
     filter:blur(30px);
     margin-left:235px;
  }
  #about{
    margin-top:100px;
  }
  
  #awards{
    margin-left:80px;
  }
  #awards div.items a{
    margin-left:25px;
  }
  #about div.left h1{
    margin-top:-20px;
  }
  #contact .contact .left{
    margin-left:22px;
  }
  #contact .contact .left ul li{
    margin-top: 8px;
    width: 150px;
    font-size: 14px;
  }
  #contact .contact .left ul li img{
    width:130px;
  }
  #contact .contact .right{
    margin-left:32%;
    margin-right:-140px;
  }
  #contact .contact{
    margin-top:-80px;
  }
  #contact .contact .right ul{
  display: block;
  margin-top: 125px;
 }
 #contact .contact .right ul span{
   display: none;
 }
 #contact .contact .right ul li{
  margin-bottom:6px;
  font-size: 14px;
}
#contact .contact .right ul li:last-child{
margin-top: 70px;
margin-left:-156px;
font-size: 15px;
}
.mobile-menu  li a{
  font-size:20px ;
}
.mobile-menu{
  width: 65%;
} 
body{
  overflow-x: hidden;
} 

}